body {
    font-family: 'Poiret One', cursive, sans-serif;
}

section {
    background-color: white;
}

.hero {
    background-color: black;
    height: 98vh;
    color: white;
    font-size: 40px;
}

footer {
    Padding: 80px;
    background-color: black;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    position: relative;
    text-decoration: none;

}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 60px;
    font-style: bold;
}

p {
    margin: 0;
    font-size: 40px;
    font-weight: 100;
}

.subtext {
    font-size: 15px;
    font-weight: 300px;
}

.hero-titles {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.name-title {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: teal;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    padding-top: 5px;
    margin-top: 30px;
}

.button:hover {
    background-color: coral;
}

.button:active {
    background-color: black;
}


.socials {
    padding-bottom: 200px;
}

.logo {
    height: 140px;
}

.social {
    margin: 30px 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sun-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.selfie {
    padding: 0 15px 0;
    width: 400px;
    border-radius: 200px;
}

.self-photo {
    display: flex;
    align-items: center;
}

.project {
    width: 400px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(192, 192, 192)
}

.projects-container {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 980px) {
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav {
        align-items: flex-start;
        display: inline-block,
    }
}

.project-image {
    margin-top: 25px;
    width: 170px;
    border-radius: 60px;
}

.project-image-3 {
    margin-top: 25px;
    width: 250px;
    border-radius: 120px;
}

.project-link {
    text-decoration: none;
    color: orangered;
   font-style: bold;
}
a { 
    text-decoration: none;
    color: white;
}